<strong>Place name: </strong>
<p style= "display: inline;">
	<%= @station.place%>
</p>

<br>

<strong>Coordinates:</strong>
<p style= "display: inline;">
	<%= @station.latitude%>, <%=@station.longitude %>
</p>

<br>

<strong>Elevation:</strong>
<p style= "display: inline;">
	<%= @station.elevation %> m
</p>
