<h1>Edit location</h1>

<div class="text-center">
	<%= render 'form', location: @location %>

<br>

<%= link_to 'Back to locations list', locations_path, class: "bottom-right-margin-10 btn btn-secondary" %>

<%= link_to 'Back to current location', locations_path, class: "bottom-right-margin-10 btn btn-primary" %>

</div>